@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: black;
}

.Home-page1 {
    /* background-color: #5e8af0; */
    background-image: url(./assets/0132_637324252136928732.jpg);
    background-size: cover;
    background-position: center;
    object-fit: fill;
    color: white;
    text-align: center;
}

.Home-page1 h1 {
    font-size: 50px;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.pageerror {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    background-attachment: fixed;
}

.pageerror img {
    height: 100%;
    width: 100%;
}

/* General styles for form elements */
.form-control {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    background-color: rgb(238, 237, 236);
    margin-bottom: 1rem;
}

.btn {
    width: 100%;
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: #ededed;
    color: #000000;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #5e8af0;
    color: #fff;
}

@media (min-width: 992px) {
    .box-size {
        padding: 20px;
    }

    .right-box {
        padding: 1rem;
    }

    .form-control {
        padding: 0.5rem;
    }

    .box-size {
        width: 50%;
        padding: 10px;
        height: 50%;
    }
}


/* Responsive styles */
@media only screen and (max-width: 991px) {
    .box-size {
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }
}

@media only screen and (max-width: 778px) {
    .box-size {
        display: flex;
        flex-direction: column;
        margin: 2rem;
    }

    .left-box img {
        width: 100%;
        height: auto;
    }
}