@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fafafa;
    color: black;
}

.Home-page1 {
    background-color: #5e8af0;
    background-size: cover;
    background-position: center;
    object-fit: fill;
    color: white;
    text-align: center;
}

.Home-page1 h1 {
    font-size: 50px;
    -webkit-text-stroke: 2px white;
    color: transparent;
}

.popover-container {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    /* display: none; */
    /* Initially hidden */
}